.body{
  margin: 0;
  padding: 0;
}

.Summarypage{
  background: url("https://images.trvl-media.com/media/content/expus/graphics/launch/home/tvly/150324_flights-hero-image_1330x742.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  display: flex;

}

h2{
  text-align: center;
  font-size: 50px;
  text-shadow: none;
  font-family: 'Gravitas One';
  padding-top: none;
}

button{
background: black;
border: none;
border: 1px solid turquoise;
padding: 10px;
margin: 3px;
border-radius:10px;
display:inline-block;
color: turquoise;
font-family: 'Open Sans';
font-size: 15px;

}

.destination{
  height: 120px;
  padding: 0;
}

.info-box{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  width: 50%;
  height: 90%;
  background: rgba(175, 175, 175, .5);
  border-radius: 20px;
  position: relative;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: absolute;
  /* margin-top: 40px; */
  margin-bottom: 30px;
  font-size: 20px;
}


.label{
    color:turquoise;
  text-shadow: 1px 1px black;
  font-size: 20px;
  padding:6px;
  font-family: 'Open Sans' san-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

span{
  color: black;
  text-shadow: none;
font-size: 15px;
}


@media screen and (max-width: 700px ){
  h2{
    font-size: 20px;
  }

  .destination{
    height: 50px;
  }

  label{
    font-size: 10px;
    padding: none;

  }
  span{
    font-size: 10px;
  }
p{
  margin: 0 auto;
}

button{
  margin-top: 20px;
  font-size: 10px;
  padding: 5px;
  border-radius: 3px;
}
}
