.Summarypage{
  background: url("https://images.trvl-media.com/media/content/expus/graphics/launch/home/tvly/150324_flights-hero-image_1330x742.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;

}

h2{
  text-align: center;
  font-size: 40px;
}

html{
  overflow: hidden;
  height: 100%;
}

header {
  background: black;
  height: 30px;
  width: 100%;
}

footer{
  position: fixed;
  left: 0;
  height: 40px;
  bottom: 0;
  width: 100%;
  text-align: center;
  background:black;
}
#head{

}
.destination{
  height: 300px;
  width: 300px;
  border-radius: 20px;
}
.info-box{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  width: 50%;
  height: 75%;
  background: rgba(175, 175, 175, .5);
  border-radius: 20px;
  position: relative;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 20px;
  padding: 5px;
}
