.container {
  height: 100%;
  padding: 0 25px 25px 25px;
  display: grid;
  display: flex;
  justify-content: center;
  background-color: black;
  
}

.grid {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  display: grid;
  margin: 30px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 25px 100px;
  grid-column-gap: 15px;
  grid-row-gap: 100px;
  grid-template-areas:
 "l m n"
 "a b c"
 "d e f";
}

.box1 p {
  grid-area: a;
  height: 25px;
  color: turquoise;
}

.box2 p {
  grid-area: b;
  height: 25px;
  color: turquoise;
}

.box3 p {
  grid-area: c;
  height: 25px;
  color: turquoise;
}
.box4 {
  grid-area: d;
  border: 1px solid turquoise;
  text-align: center;
  color: turquoise;
}

.box5 {
  grid-area: e;
  border: 1px solid turquoise;
  text-align: center;
  color: turquoise;
}

.box6 {
  grid-area: f;
  border: 1px solid turquoise;
  text-align: center;
  color: turquoise;
}

.firstlast {
  color: turquoise;
}

.rachel{
  grid-area: l;
  width: 188px;
  height: 188px;
  margin-bottom: 25px;
  text-align: center;
} 
.john {
  grid-area: m;
  width: 188px;
  margin-bottom: 25px;
  text-align: center;
} 
.alvin{
grid-area: n;
width: 188px;
 margin-bottom: 25px;
text-align: center;
}

.travel {
  color:turquoise;
  background-color: black;
}
