.container {
  height: 100%;
  padding: 0 25px 25px 25px;
  display: grid;
  display: flex;
  justify-content: center;
  background-color: black;

}

.grid {
  display: flex;
  justify-items: center;
  max-width: 1000px;
  display: grid;
  margin: 30px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 25px 100px;
  grid-column-gap: 15px;
  grid-row-gap: 100px;
  grid-template-areas:
 "l m n"
 "a b c"
 "d e f";
}
p{
  font-size: 20px;

  margin-top: 0;
  /* padding: 0 25px; */
}

a{
  font-family: 'Open Sans';
  margin-bottom: 0;
}

a:hover{
  color: gray
}

.box1 {
  grid-area: a;
  height: 25px;
  color: turquoise;
}

.box2 {
  grid-area: b;
  height: 25px;
  color: turquoise;
}

.box3 {
  grid-area: c;
  height: 25px;
  color: turquoise;
}
.box4 {
  grid-area: d;
   border-right: 1px solid turquoise;
  text-align: center;
  color: turquoise;
  height: 400px;
  padding: 0 35px;
}

.box5 {
  grid-area: e;
   border-left: 1px solid turquoise;
   border-right: 1px solid turquoise;
  text-align: center;
  color: turquoise;
  height: 400px;
  padding: 0 35px;
}

.box6 {
  grid-area: f;
  border-left: 1px solid turquoise;
  text-align: center;
  color: turquoise;
  height: 400px;
  padding: 0 35px;
}

.firstlast {
  color: turquoise;
 text-align: center;
}

.rachel{
  grid-area: l;
  width: 188px;
  height: 188px;
  margin-bottom: 25px;
  text-align: center;

}
.john {
  grid-area: m;
  width: 188px;
    height: 188px;
  margin-bottom: 25px;
  text-align: center;
}
.alvin{
grid-area: n;
width: 188px;
  height: 188px;
 margin-bottom: 25px;
text-align: center;
}

.travel {
  color:turquoise;
  background-color: black;
}

h2{
  color: turquoise;
  font-size: 25px;
  font-family: 'Open Sans'
}

h1{
  padding-bottom: 0;
}
