body{
  margin: 0;
  padding: 0;
}

.background{
  background:url('https://engineering.illinois.edu/images/water-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.Alltripspage{
display: flex;
flex-direction: row;
flex-wrap: wrap;
text-align: center;
}

.singleTrip{

  color: white;
  font-family: 'Open Sans';
  background:rgba(100, 100, 100, .4);
  margin: 5px 30px;
  /* border: 2px solid black; */

}

h1{
  margin: 0;
  text-align: center;
  font-size: 45px;
  text-shadow: none;
  padding: 85px 0;
  color: #121212;

}

span{
  color: black
}

.fa {
  padding: 15px;
  font-size: 22px;
  height: 15px;
  width:15px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #40e0d0;
  border-radius: 40px;
  position: relative;
  float:right ;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  
  color: #fff;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.fa-linkedin-square {
font-size:24px;
background-color: blue;
color: white;

}

.fa:hover {
  opacity: 0.7;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background:rgba(100, 100, 100, .4);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
  background-color: #111;
}